
    img {
      width: 240px;
      height: 240px;
    }

    .results {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(260px, 33%));
      margin: 16px;
      max-width: 830px;
    }

    .intro {
      max-width: min(800px, calc(100% - 60px));
    }